.cell{
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
}

.cell-obs{
    border: 3px solid #0A2472;
}
.cell-obs-l{
    border: 3px solid #540D6E;
}

.cell-wall{
    background-color: #00171F;
}

.cell-start{
    background-color: #00A336;
}

.cell-end{
    background-color: #FF0022;
}

.cell-path{
    background-color: #F9CB13;
}

.cell-vis{
    background-color: #7CE8DE;
}